.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;


    &__logo {
        padding-bottom: 20px;
        margin-top: 30px;
        width: 100%;
        text-align: center;

        &--img {
            width: 200px;
        }
    }

    &__localisation {
        font-size: 19px;
        background-color: $primary-background;
        width: 100%;
        text-align: center;
        padding: 20px;
        box-shadow: inset 0px 2px 4px 0px #00000040, 0px 4px 4px 0px #00000040;

        // box-shadow: 0px 4px 4px 0px #00000040;
        &--icon {
            margin-right: 10px;
        }
    }

    &__presentation {
        margin-top: 7px;
        width: 100%;
        height: 300px;
        padding: 50px;
        background-color: $secondary-background;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        &--title {
            font-size: 24px;
        }

        &--content {
            color: $typo-color-secondary;
            size: 18px;
            line-height: 21.09px;
            font-weight: 300;
        }

    }

    @media screen and (min-width: 900px) {

        &__localisation {
            box-shadow: none;
        }

        &__presentation {
            margin-top: 0;
        }
    }

}