.btn-cta {
    border-radius: 25px;
    width: auto;
    padding: 15px 20px;
    box-shadow: 0px 7.011494px 7.043103px 0px #0000001A;
    background-image: repeating-linear-gradient(to top, $primary-color, #db6edb);
    color: #fff;
    &:hover {
        opacity: 80%;
    }
}

.btn-commander {
    text-align: center;
    width: 200px;
    height: 55px;
    font-size: 18px;
}