//Polices
$typography: 'Roboto', sans-serif;
$typo-color-secondary: #353535;


//Colors
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;

//background
$primary-background: #EAEAEA;
$secondary-background: #F6F6F6;

//button
$primary-color-btn: #9747FF;

//Border
